<div class="secao2">
    <img
      src="https://i.ibb.co/pJ8jwwM/Captura-de-tela-2024-01-17-153616.png"
      alt="Descrição da imagem"
    />
    <div class="secao2-texto">
      <h2>Desenvolvemos sonhos</h2>
      <p>
        Colocamos a sua empresa no mercado tecnológico, assim fortalecendo laços
        com os seus parceiros e clientes. Focamos na criação de websites, assim
        como na remodelagem de páginas web já existentes. Venha você fazer parte
        dessa jornada.
      </p>
      <p>
        <a mat-button routerLink="/">Nosso Trabalho</a>
      </p>
    </div>
  </div>
